$center : center;
$colorblack : black;
$commanPx : 20px;
$commanBold : bold;

.card-header{
    display: flex;
    justify-content: space-between;
}
.fa-regular, .fa-solid, .add-option{
    cursor: pointer;
}
.input-form{
    border: 1px solid rgb(166, 166, 166);
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(220, 220, 220);
    color: $colorblack;
}
.float-right{
    font-size: $commanPx;
    cursor: pointer;
    font-weight: $commanBold;
}
.data-container{
    height: 450px;
    overflow-y: scroll;
}
.input-radio-btn{
    border: 1px solid $colorblack;
}
@media (min-width: 600px) {
    .float-right{
        text-align: right;
        font-size: $commanPx;
        cursor: pointer;
        font-weight: $commanBold;
        position: relative;
        bottom: 42px;
    }
}

@media (max-width: 475px) {
        .card-title{
            display: flex;
            justify-content: $center;
            align-items: $center;
        }
    .card-header{
        display: block;
    }
    .shift-right{
        margin-top: $commanPx;
    }
}
